<html>
<title>Adversarial ML CTF</title>
  <head>
        <title>Adversarial ML CTF</title>
		<link rel="stylesheet" type="text/css" href="static/cnn/css/boostrap/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="static/cnn/css/boostrap/bootstrap-reboot.css" />
		<link rel="stylesheet" type="text/css" href="static/cnn/css/boostrap/bootstrap-grid.css" />
		<link rel="stylesheet" type="text/css" href="static/cnn/css/styles.css" />
</head>
<body>
<h2>Select a challenge</h2>
<table style="width:100%">
  <tr>
    <td><a href="/kmeans.html">Kmeans Challenge</a></td>
  </tr>
  <tr>
    <td><a href="/theft1.html">Model Theft Challenge #1 (Pickles)</a></td>
  </tr>
  <tr>
    <td><a href="/theft2.html">Model Theft Challenge #2 (Encmodel)</a></td>
  </tr>
  <tr>
    <td><a href="/theft3.html">Model Theft Challenge #3 (Dumps)</a></td>
  </tr>
  <tr>
    <td><a href="/waf.html">WAF Challenge</a></td>
  </tr>
  <tr>
    <td><a href="/poison.html">Model Poisoning Challenge #1 (Data Addition)</a></td>
  </tr>
  <tr>
    <td><a href="/poison2.html">Model Poisoning Challenge #2 (Tokenizer)</a></td>
  </tr>
  <tr>
    <td><a href="/token.html">Model Poisoning Challenge #3 (Data Deletion)</a></td>
  </tr>
  <tr>
    <td><a href="/pickle1.html">Pickle Upload Challenge</a></td>
  </tr>
  <tr>
    <td><a href="/shift.html">Class Shifting Challenge</a></td>
  </tr>
  <tr>
    <td><a href="/salt1.html">Model Salt Bypass Challenge #1 (Static)</a></td>
  </tr>
  <tr>
    <td><a href="/salt2.html">Model Salt Bypass Challenge #2 (Derived)</a></td>
  </tr>
  <tr>
    <td><a href="/salt3.html">Model Salt Bypass Challenge #3 (Random)</a></td>
  </tr>
  <tr>
    <td><a href="/cnn.html">Google's CNN Challenge</a></td>
  </tr>
</table>
</body>
</html>