<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
        <title>Shift</title>
		<link rel="stylesheet" type="text/css" href="static/cnn/css/boostrap/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="static/cnn/css/boostrap/bootstrap-reboot.css" />
		<link rel="stylesheet" type="text/css" href="static/cnn/css/boostrap/bootstrap-grid.css" />
		<link rel="stylesheet" type="text/css" href="static/cnn/css/styles.css" />
</head>
<body>

    		<div class="row">
			<div class="col-md-12 title-bar">
				Shift Me
			</div>
		</div>
<br>
Shift the model to give the string "siudhsi" over 50% confidence as class 1. (Theres only two classes)
<br>

<br>
<table>
  <tr>
    <td>Add Data. Note user controlled data will be marked as class 0</td>
    <td><a href="addshift">Add siudhsi to the dataset as its current classification</a><td>
  </tr>
  <tr>
    <td>Reset Data</td>
    <td><a href="resetshift">Reset Data</a><td>
  </tr>
  <tr>
    <td>Retrain Model</td>
    <td><a href="rebuildshift">Retrain Model</a><td>
  </tr>
  <tr>
    <td>Test Model</td>
    <td><a href="checkshift">Test The Current Classification of siudhsi</a><td>
  </tr>
</table>
</body>
</html>