<!doctype html>
<html>
	<head>
        <title>Theft 1</title>
		<link rel="stylesheet" type="text/css" href="static/cnn/css/boostrap/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="static/cnn/css/boostrap/bootstrap-reboot.css" />
		<link rel="stylesheet" type="text/css" href="static/cnn/css/boostrap/bootstrap-grid.css" />
		<link rel="stylesheet" type="text/css" href="static/cnn/css/styles.css" />
	</head>
<body>
	    <div class="row">
			<div class="col-md-12 title-bar">
				WAF
			</div>
		</div>
Our friends at NRNSA told us to use their AI waf here to avoid an 0Day.<br>
I don't understand AI but apparently it blocks malicious GET payloads.<br>
They said the payload is base64 encoded <br>
Feel free to give it a bash ;)<br>
The HTML code for this page has a hint if you need it, but it contains a pretty notable spoiler. <br>
<! checkout http://127.0.0.1:5000/waf.html?YmFzaA for an example blocked attempt>
    </body>
</html>
