<!doctype html>
<html>
	<head>
        <title>Theft 1</title>
		<link rel="stylesheet" type="text/css" href="static/cnn/css/boostrap/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="static/cnn/css/boostrap/bootstrap-reboot.css" />
		<link rel="stylesheet" type="text/css" href="static/cnn/css/boostrap/bootstrap-grid.css" />
		<link rel="stylesheet" type="text/css" href="static/cnn/css/styles.css" />
	</head>
<body>
	    <div class="row">
			<div class="col-md-12 title-bar">
				WAF
			</div>
		</div>
Our friends at NRNSA told us to use their AI waf here to avoid an 0Day.<br>
I don't understand AI but apparently it blocks malicious GET payloads.<br>
They said the payload is base64 encoded <br>
Feel free to give it a bash ;)<br>
<a href="/waf.html?YmFzaC">Sample blocked 0Day</a>
    </body>
</html>
